<header class="w-full">
  <nav class="w-full navbar" data-theme="business">
    <div class="flex items-center justify-between w-full mx-auto max-w-8xl">
      <a routerLink="/"><h1 class="mb-3 text-xl font-bold tracking-tight">angmazon</h1></a>
      <label class="flex items-center justify-center w-full max-w-2xl gap-2">
        <details class="dropdown">
          <summary class="m-1 btn">All</summary>
          <ul class="p-2 shadow menu dropdown-content z-[1] bg-base-100 rounded-box w-52">
            <li><a>Automotive</a></li>
            <li><a>Books</a></li>
          </ul>
        </details>
        <input class="w-full input input-bordered" type="text" placeholder="Search" />
        <button class="btn btn-active btn-primary">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 16 16"
            fill="currentColor"
            class="w-4 h-4 opacity-70">
            <path
              fill-rule="evenodd"
              d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
              clip-rule="evenodd" />
          </svg>
        </button>
      </label>
      <div class="flex items-center">
        <button class="btn btn-ghost">
          <i class="fa-solid fa-cart-shopping"></i>
          <span class="ml-2">Cart</span>
        </button>
      </div>
    </div>
  </nav>
</header>
<ng-content />
