<div class="shadow-xl w-72 card bg-base-100">
  <figure><img class="h-48" [src]="data.image" [alt]="data.name" /></figure>
  <div class="h-48 px-4 card-body">
    <h2 class="card-title">{{ data.name }}</h2>
    <div class="rating rating-sm rating-half">
      <input type="radio" name="rating-10" class="rating-hidden" />
      @for (star of stars; track star.id) {
      <input
        type="radio"
        [name]="'rating-' + data.id"
        class="bg-orange-400 mask mask-star-2"
        [ngClass]="(star.value * 10) % 2 == 0 ? 'mask-half-2' : 'mask-half-1'"
        [checked]="star.value == data.rating" />
      }
    </div>
    <p>{{ data.price | number : "1.2" }} THB</p>
    <div class="justify-end card-actions">
      <button class="btn btn-primary" [ngClass]="{ 'btn-disabled': data.quantity <= 0 }">
        Add To Cart
      </button>
    </div>
  </div>
</div>
